<nav class="navbar navbar-light bg-light">
  <div class="container-md">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-success dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
        Change Chatbot
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Chatbot</a></li>
        <li><a class="dropdown-item" href="/image">Image Generator</a></li>
      </ul>
    </div>
  </div>
</nav>